// <SELECT>
// Снипет (HTML): sel
.select {
  &._select-open {
    & .select__title {
      border-radius: 30px 30px 0 0;
    }
  }
  position: relative;
  // .select__body
  &__body {
    position: relative;
  }
  // .select__title
  &__title {
    color: inherit;
    text-align: left;
    background: rgba(255, 255, 255, 0.02);
    cursor: pointer;
    width: 100%;
    border-radius: 60px;
    padding: 14.6px 20px;
  }
  // .select__value
  &__value {
    display: flex;
    align-items: center;
    gap: rem(10);
    > * {
      flex: 1 1 auto;
      color: #fff;
    }
    &:after {
      content: '';
      align-self: stretch;
      transition: all 0.3s ease 0s;
      display: flex;
      justify-content: center;
      align-items: center;
      background: url(../../../img/arrow-ios-right.svg);
      background-repeat: no-repeat;
      background-size: cover;
      width: 20px;
      height: 20px;
      ._select-open & {
        transform: rotate(-180deg);
      }
    }
    &._select-pseudo-label {
      &::before {
        content: attr(data-pseudo-label);
        opacity: 0.5;
      }
    }
  }
  // .select__text
  &__text {
    flex: 1 1 auto;
  }
  &__input {
    width: 100%;
    background-color: transparent;
    height: 100%;
  }
  // .select__options
  &__options {
    color: #fff;
    position: absolute;
    top: 29px;
    border-radius: 0 0 4px 4px;
    min-width: 100%;
    left: 0;
    border-top: 0;
    border-top: 0;
    padding: 10px 0px 5px 0px;
    background: rgba(255, 255, 255, 0.02);
  }
  // .select__scroll
  &__scroll {
    overflow-y: auto;
    overflow-x: hidden;
    // Максимальная высота
    max-height: 200px;
    // Стили скроллбара
    .simplebar-scrollbar {
      &::before {
        //opacity: 1;
      }
    }
  }
  // .select__option
  &__option {
    width: 100%;
    text-align: left;
    cursor: pointer;
    padding: 14px 20px;
    color: inherit;
    &._select-selected {
      background-color: #eee;
    }
    @media (any-hover: hover) {
      &:hover {
        opacity: 0.8;
      }
    }
  }

  // Конструкция дополнительных данных
  &__row {
    display: inline-flex;
    align-items: center;
  }
  &__asset {
  }
  &__text {
  }

  // Состояния селекта
  &._select-open {
    z-index: 5;
  }
  &._select-disabled {
  }
  &._select-active {
  }
  &._select-focus {
  }
  &._select-multiple {
  }
  &._select-checkbox {
  }
}

// Тег
._select-tag {
  cursor: pointer;
}
