.menu-nav {
  position: absolute;
  padding: 16px;
  width: 188px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.08);
  border-radius: 24px;
  right: 2%;
  opacity: 0;
  // !  уменьшил размытость подложки в меню и добавил свойство для safari
  // backdrop-filter: blur(76px);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  z-index: -1;
  top: 80%;
  &__list {
    &-item {
      margin-top: 12px;
      transition: 0.3s all;
      & svg {
        transition: 0.3s all;
      }
      &:first-child {
        margin-top: 0;
      }
      &:hover {
        color: #21e021;
        transition: 0.3s all;
        & svg {
          fill: #21e021;
          transition: 0.3s all;
        }
      }
    }
    & a {
      display: flex;
      align-items: center;
      & span {
        margin-left: 12px;
      }
    }
  }
  &.menu-active {
    opacity: 1;
    z-index: 1;
  }
}
