.seo {
  padding: 32px;
  margin: 45px 0 40px 0;
  & h1 {
    font-size: 1.5rem;
    letter-spacing: -0.04em;
    font-weight: 600;
    display: flex;
  }
  & p {
    line-height: 24px;
    opacity: 0.6;
    font-weight: 400;
    margin-top: 15px;
  }
}
